<h1>Sign Up!</h1>

<form action="/users" method="post">
	<label for="user_name">Name</label>
	<input type="text", id="user_name", name="user[name]">
	<br/>

	<h2>Choose Subscriptions</h2>
	<% Newspaper.all.each do |newspaper| %>
		<p><%=newspaper.title%></p>
		<select name="user[subscription_plan_ids][]">
			<% newspaper.subscription_plans.each do |sp| %>
			 <option value="<%=sp.id%>"><%= sp.weekly ? "Weekly" : "Daily" %> for <%= sp.price %></option> %>
			 <% end %>
		 </select>
	<% end %>
	<br/>
		<br/>
	<br/>
	<input type="submit" name="commit" value="Create User">
</form>
